.main-wrapper {
    margin: 0 auto;
    width: 1240px;
    height: 100%;
}

.container {
    padding: var(--spacing-xxxl) 0;
}

.container > section:not(:last-of-type) {
    margin-right: var(--spacing-xxxl);
}

.about, .contacts {
    background-color: var(--secondary-dark);
    border-radius: var(--spacing-l);
    padding: calc(var(--spacing-xxxl) * 1.25);
}

.about h3 {
    margin-bottom: var(--spacing-xxxl);
}

.about > section:not(:last-of-type), .contacts > div:not(:last-of-type) {
    margin-bottom: var(--spacing-xxxl);
}

.stat-container {
    padding-top: var(--spacing-xl);
}

.stats > div:not(:first-of-type) {
    margin-left: var(--spacing-xl);
}

.avatar {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.avatar:not(:first-of-type) {
    margin-left: -24px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
