body {
    background-image: url("../images/Home-Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-wrapper {
    margin: 0 auto;
    width: 960px;
    height: 100%;
}

.main-content {
    background-color: var(--primary-dark);
    border-radius: var(--spacing-l);
    min-width: 640px;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-xxxl);
}

.text-container {
    padding: var(--spacing-xl) 0;
}

.text-container p {
    margin-top: var(--spacing-xl);
}

.search-container {
    padding: var(--spacing-m) 0;
}

.search-container input {
    width: 35%;
    background-color: var(--secondary-dark);
    border-radius: var(--spacing-l);
    padding: var(--spacing-xl);
    margin-right: var(--spacing-xl)
}

input::placeholder {
    font-weight: 300;
    color: var(--font-secondary-dark);
}

.search-form {
    width: 100%;
}

.stat-container {
    padding: var(--spacing-xl) 0;
}

.stats > div:not(:first-of-type) {
    margin-left: var(--spacing-xl);
}

.avatar {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.avatar:not(:first-of-type) {
    margin-left: -24px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
