.grid-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.grid-column_1 {
    width: calc((100% / 12) * 1);
}

.grid-column_2 {
    width: calc((100% / 12) * 2);
}

.grid-column_3 {
    width: calc((100% / 12) * 3);
}

.grid-column_4 {
    width: calc((100% / 12) * 4);
}

.grid-column_5 {
    width: calc((100% / 12) * 5);
}

.grid-column_6 {
    width: calc((100% / 12) * 6);
}

.grid-column_7 {
    width: calc((100% / 12) * 7);
}

.grid-column_8 {
    width: calc((100% / 12) * 8);
}

.grid-column_9 {
    width: calc((100% / 12) * 9);
}

.grid-column_10 {
    width: calc((100% / 12) * 10);
}

.grid-column_11 {
    width: calc((100% / 12) * 11);
}

.grid-column_12 {
    width: calc((100% / 12) * 12);
}

.flex {
    display: flex;   
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_align-center {
    align-items: center;
}

.flex_justify-start {
    justify-content: flex-start;
}

.flex_justify-center {
    justify-content: center;
}

.flex_justify-end {
    justify-content: flex-end;
}

.flex_justify-between {
    justify-content: space-between;
}

