.job-search__input {
    background-color: var(--primary-light);
    border-radius: var(--spacing-l);
    padding: var(--spacing-xl);
    position: relative;
}

.job-search__input::placeholder {
    font-family: "Barlow";
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-light);
    color: var(--font-secondary-dark);
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
