@import url("../common.blocks/shared.css");
@import url("../common.blocks/container.css");
@import url("../common.blocks/paper.css");
@import url("../common.blocks/job-search/index.css");

.job-filters {
    flex-basis: 250px;
    flex-shrink: 0;
}

.job-card {
    display: flex;
    flex-basis: 280px;
    background-color: var(--primary-light);
    border-radius: var(--spacing-l);
    padding: var(--spacing-l);
}

.job-card__logo-section {
    width: 64px;
    padding: var(--spacing-l);
}

.job-card__content-section {
    padding: var(--spacing-l);
}

.jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xxl);
}
