.avatar {
    display: inline-block;   
}

.avatar_size_m {
    width: 64px;
    height: 64px;
}

.avatar_is-circular {
    border-radius: 100%;
}

.avatar .avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar_is-circular .avatar__image {
    border-radius: 100%;
}
