.code {
    font-family: "JetBrainsMono";   
}

.code_background-color_dark {
    background-color: var(--secondary-dark);
}

.code_background-color_main {
    background-color: var(--primary-main);
}

.code_color_light {
    color: var(--font-primary-light);
}

.code_p_l {
    padding: var(--spacing-l);
}

.code_border-radius_l {
    border-radius: var(--spacing-l);
}
