.main-wrapper {
    margin: 0 auto;
    height: 100%;
}

.main-wrapper_width_m {
    width: var(--content-width-m);
}

.main-wrapper_width_l {
    width: var(--content-width-l);
}

.main-wrapper_width_xl {
    width: var(--content-width-xl);
}
